In [3]:
import pyspark

In [5]:
import pandas as pd

In [7]:
df = pd.read_csv('test1.csv')
df

       Name  Age
0     Krish   31
1  Sudharsh   30
2     Sunny   29

In [9]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Practise').getOrCreate()